body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}
h1 {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.options {
  margin-bottom: 10rem;
}
.options div {
  margin-bottom: 1rem;
}
p {
  max-width: 400px;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 10rem;
}